.Fitness-Add {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  height: 60px;
  background-repeat: repeat;
}

@media (min-width: 1400px) {
  .Fitness-Add {
    margin-top: 5%;
  }
}
