.main-footer {
  clear: both;
  color: white;
  background-color: rgb(63, 81, 181);
  padding-top: 3em;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 200px;
  justify-content: space-around;
}

@media (max-width: 600px) {
  .main-footer {
    bottom: auto;
    height: auto;
  }
}

.footer-links a {
  color: white;
  text-decoration: none;
}

.footer-links a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.main-footer {
  padding-top: 1em;
}
@media (max-width: 600px) {
  .list-unstyled {
    font-size: 20px;
  }
}
