* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}

Link {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: rgb(0, 238, 255);
}

.nav-links {
  display: flex;
  margin-top: 1%;
  justify-content: space-around;
  width: 40%;
}

.nav-links a:hover {
  color: white;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
}

.nav-links li {
  list-style: none;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: darkblue;
  margin: 5px;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: rgb(0, 238, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

.slider {
  overflow: hidden;
}

.slider figure {
  position: relative;
  max-height: 20%;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 30s slider infinite;
  text-align: center;
  color: white;
}

.slider figure img {
  width: 20%;
  float: left;
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}
.welcome {
  height: 680px;
  background-size: 100%;
  background-size: cover;
  background-image: url(https://totalpass.com/br/_nuxt/img/main-new-banner.0627ccc.jpg);
}

@media (max-width: 600px) {
  .welcome {
    padding: 1rem;
    background-position: 70%;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  welcome-text-container {
    display: flex;
    width: 70%;
  }
}

.welcome-text {
  margin-left: 2%;
  position: relative;
  display: flex;
  color: white;
  font-size: 70px;
  font-family: "Quicksand", sans-serif;
  width: 50%;
}

@media (max-width: 600px) {
  .welcome-text {
    font-size: 30px;
  }
}
.welcome-button {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  position: relative;
  background-color: #26e88c;
  border: 0;
  margin-left: 12%;
  padding: 15px;
  text-align: center;
  width: 10%;
  margin-top: 6%;
  cursor: pointer;
}

@media (max-width: 600px) {
  .welcome-button {
    width: 50%;
  }
}

.welcome-button:hover {
  background-color: #289261;
  color: #ffffff;
  cursor: pointer;
}

.navbar.navbar-fixed {
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
}
